<footer class="text-center lg:text-left text-gray-600" style="background-image: url( image/unknown.png)">

    <div class="mx-6 py-10 text-center md:text-center">
        <div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <div class="">
                <h6 class="uppercase font-semibold mb-4 flex items-center justify-center md:justify-start">
                    A propos
                </h6>
                <p class="flex items-center justify-center md:justify-start   hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Qui sommes-nous ?
                    </a>
                </p>
                <p class="flex items-center justify-center md:justify-start    hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Nous rejoindre
                    </a>
                </p>
            </div>
            <div class="">
                <h6 class="uppercase font-semibold mb-4 flex items-center justify-center md:justify-start">
                    Support
                </h6>
                <p class="flex items-center justify-center md:justify-start  mb-2 hover:opacity-80">
                    <a href="#" class="text-black">Le service de paiement sécurisé et la livraison</a>
                </p>
                <p class="flex items-center justify-center md:justify-start   mb-2 hover:opacity-80">
                    <a href="#" class="text-gray-600">Demandez conseil</a>
                </p>
                <p class="flex items-center justify-center md:justify-start  mb-2 hover:opacity-80">
                    <a href="#" class="text-gray-600">Aide</a>
                </p>
            </div>
            <div class="">
                <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
                    Information Légales
                </h6>
                <p class="flex items-center justify-center md:justify-start mb-2 hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Conditions générales de vente
                    </a>

                </p>
                <p class="flex items-center justify-center md:justify-start mb-2 hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Vie privée
                    </a>
                </p>
                <p class="flex items-center justify-center md:justify-start mb-2 hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Règles de diffusion, de référencement et de déréférencement
                    </a>
                </p>
                <p class="flex items-center justify-center md:justify-start hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Vos droits et obligations
                    </a>
                </p>
                <p class="flex items-center justify-center md:justify-start hover:opacity-80">
                    <a href="#" class="text-gray-600">
                        Conditions générales d'utilisation
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-6 bg-white">
        <span>FASHIONBOOK</span>
    </div>
</footer>

