 <div>
    
    <div class="w-screen h-screen flex justify-center items-center">
        <form class="p-20 bg-white rounded-[20px] shadow-gn space-y-5" action="">
        <h5 class="pb-20 font-bold scroll-pb-6 text-center text-gray-900 text-2xl leading-tight mb-2">Connexion</h5>
            <div class="flex flex-col space-y-2">
                
                <input class="w-45 px-3 py-2 rounded-md border border-slate-400" type="email" placeholder="E-mail"
                    name="email" id="email">
            </div>
            <div class="py-8  flex flex-col space-y-2">
                <input class="w-50 px-3 py-2 rounded-md border border-slate-400" type="password"
                    placeholder="Mot de passe" name="password" id="password">
            </div>

            <button class="ml-[6rem] px-8 py-2 bg-gray-600 text-white rounded-[18px]
            hover:bg-blue-500 hover:drop-shadow-md duration-300 ease-in" type="submit">
                Se connecter
            </button>

            <p class="text-center pt-5"><a class=" text-blue-600 font-light hover:underline"
                    href="https://www.kindacode.com">Mot de passe oublié ?</a></p>
            <p class="text-center pt-0 ">Vous n’avez pas encore de compte ?<a class="text-blue-600  font-light hover:underline"
                    href="https://www.kindacode.com"> Je m’inscris</a></p>
        </form>
    </div>
  </div>
