@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.form-select {
    background-image: none !important;
}
div.offcanvas-backdrop.fade.show
{
    opacity: 0;
}
div.offcanvas-header
{
    width: 100%;
}