{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="container flex justify-center">
        <div class="rounded-[20px] w-[70%] justify-center bg-white shadow-gn mt-10 mb-10 m-4 p-3">

                    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app_profil') }}">Retour au Profil</a>

                    {{ include('post/_delete_form.html.twig') }}

        </div>
    </div>


{% endblock %}
