{% extends 'base.html.twig' %}

{% block title %}Edit PostComment{% endblock %}

{% block body %}
    <h1>Edit PostComment</h1>

    {{ include('post_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_post_comment_index') }}">back to list</a>

    {{ include('post_comment/_delete_form.html.twig') }}
{% endblock %}
